

<div>

   <div class="card">
  <div class="card-header" id="textbox" >
    {{ question.question }}
  </div>
  <div class="card-format">
    <p class="card-text" for="response">{{response}}</p>
  </div>
  {{!-- copy question --}}
   <button onclick="copyText()">Copy</button>
</div>
</div>




<script>
  function copyText() {
    
    let text = "{{ question.question }}";
    navigator.clipboard.writeText(text);
}
</script>