

<div>

   <div class="card">
  <div class="card-header">
    {{ question.question }}
  </div>
  <div class="card-format">
    <p class="card-text" for="response">{{response}}</p>
  </div>
</div>
</div>




<script src="/js/responseData.js"></script>