
<a href="/credits"><img src="https://i.postimg.cc/MTJPQfzw/zoompic.png" class="credits" border="0"></a>

<a href="/dashboard"><img src="
https://i.postimg.cc/xCsmSBxZ/Screen-Shot-2022-09-17-at-12-23-39-PM.png" class="heart-guy-credits" border="0"></a>
<script src="/js/credits.js"></script>

