
<a href="/credits"><img src="https://i.postimg.cc/6QVSQ10h/Screen-Shot-2022-09-18-at-11-50-43-AM.png" class="credits" border="0"></a>

<a href="/dashboard"><img src="
https://i.postimg.cc/xCsmSBxZ/Screen-Shot-2022-09-17-at-12-23-39-PM.png" class="heart-guy-credits" border="0"></a>