


<div class="container-flex">
    <h1>
        <a href="/dashboard"><img src="https://i.postimg.cc/W1Lg7tp4/14.png" class="title" alt="title"  border="0"></a>

        <a href="/"><img src="https://i.postimg.cc/q7gCQ0Tq/Screen-Shot-2022-09-17-at-7-42-03-AM.png" alt="welcome" class="welcome" border="0"></a>
    </h1>
</div>
    <a href="/dashboard"><img src="https://i.ibb.co/6rMJLkf/intro.png" alt="intro" class="icon" id="intro"></a>
{{!-- icons --}}
<div class="dashboard-images">
    
<a href="/dashboard"><img src="https://i.ibb.co/LxdwbBb/shareqs.png" alt="shareqs" class="icon" id="shareqs" border="0"></a>
<a href="/credits"><img src="https://i.ibb.co/tYbx46K/credits.png" alt="credits" class="icon" id="log" border="0"></a>
<a href="/dashboard"><img src="https://i.ibb.co/HCWV0py/settings.png" alt="settings" class="icon" id="settings" border="0"></a>
<a href="/viewall"><img src="https://i.ibb.co/hWKfcP5/previous.png" alt="previous" class="icon" id="previous" border="0"></a>
<a href="/findyourvibe"><img src="https://i.ibb.co/ZXTyGX7/findvibe.png" alt="findvibe" class="icon" id="findvibe" border="0"></a><br />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>

<div class="row justify-content-center">
    <div class="w-50">
        <h3 class="text-center">My Mood Distribution</h3>
    <canvas id="myChart" width="100" height="100"></canvas>
    </div>
</div>

<script>
  

    const getChart = async () => {
        const response = await fetch('/api/moods', {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' },
        });
        const data = await response.json();
        const allMoodCount = data.moods[0].count + data.moods[1].count + data.moods[2].count + data.moods[3].count + data.moods[4].count + data.moods[5].count;
        console.log(allMoodCount);
        const happyCount = (data.moods[0].count)/allMoodCount * 100;
        const sadCount = (data.moods[1].count)/allMoodCount * 100;
        const angryCount = (data.moods[2].count)/allMoodCount * 100;
        const introspectiveCount = (data.moods[3].count)/allMoodCount * 100;
        const sillyCount = (data.moods[4].count)/allMoodCount * 100;
        const randomCount = (data.moods[5].count)/allMoodCount * 100;
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
            'Happy',
            'Sad',
            'Angry',
            'Introspective',
            'Silly',
            'Random'
            ],
            datasets: [{
            label: 'My Moods',
            data: [happyCount, sadCount, angryCount, introspectiveCount, sillyCount, randomCount],
            backgroundColor: [
                '#B8BEDD',
                '#EFC3E6',
                '#F0E6EF',
                '#B8BEDD',
                '#EFC3E6',
                '#F0E6EF'
            ],
            hoverOffset: 4
            }]
        },
    });

    }

    getChart();
    
</script>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

