{{!-- {{#each users as |user| }} --}}
{{!-- if not logged in --}}
{{!-- <div class="row align-center mb-5">
  <div class="col-md-6">
    <div class="card"> --}}
    
    {{!-- <h2>{{user.name}}</h2> --}}
  {{!-- </div>
  <div class="col-md-6">
  
    <a href="/login"><button>login</button></a> --}}
    {{!-- <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3> --}}
  {{!-- </div>
  <div class="col-md-6">
     <a href="/register"><button>create an account</button></a>
  </div> --}}
{{!-- </div>
{{/each}} --}}
<img src='https://i.postimg.cc/Fz1Y9BR8/Untitled-Artwork-3-1-1.png' border='0' width="25%" float="left" alt='logo-black-lines' id="logo"/>
    <div class="card mb-3 mx-auto" style="max-width:30rem;" id="home-card">
      
      <div class="card-body">
        <h1 class="card-title">Welcome to mood remedy!</h1>
        <div class ="row">
        <div class="col-md-12 text-center pb-2">
        <a href="/login" class="btn btn-primary">login</a>
        <a href="/signup" class="btn btn-primary">create an account</a>
        </div>
        </div>
      </div>
    </div>