<a href="/"><img src="https://i.postimg.cc/W1Lg7tp4/14.png" class="title" alt="title"  border="0"></a>

<div class="card mb-3 mx-auto" style="max-width:30rem;" id="home-card">
  <div class="card-body">
    <h1 class="card-title">Welcome to mood remedy!</h1>
    <div class ="row">
      <div class="col-md-12 text-center pb-2">
        <a href="/login" class="btn btn-danger">login</a>
        <a href="/signup" class="btn btn-danger">create an account</a>
      </div>
    </div>
  </div>
</div>
    