
<a href="/"><img src='https://i.postimg.cc/Fz1Y9BR8/Untitled-Artwork-3-1-1.png' border='0' width="25%" float="left" alt='logo-black-lines' id="logo"/></a>
<div class="card border-dark mb-3 mx-auto" id="login-card" style="max-width: 30rem">
<div class="card-header">Log In</div>

<div class="card-body">
  <h5 class="card-title">welcome! please enter your email and password to login</h5>
<form class="form login-form">

  <div class="form-group pb-2">
    <p class="card-text"></p>
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>

  <div class="form-group pb-2">
    <label for="password-login">password:</label>
    <input class="form-input " type="password" id="password-login" />
  </div>

  <div class="form-group ">
    <button class="login-form btn btn-danger" type="submit">login</button>
    </div>
  </div>
  </div>
</form>
<div class="col-md-12 text-center pb-2">
 new user?
 </div> 
<div class="col-md-12 text-center">
 
  <a href="/signup" class="login-form btn btn-danger justify-content-center" id="login-button" type="submit">sign up</a>
  </div>

<script src="/js/login.js"></script>
<script src="/js/home.js"></script>