{{!-- {{#each question as |question|}}
    {{> questionList }}
{{/each}} --}}

{{!-- <h1>{{question.question}}</h1> --}}

{{!-- <div class="mb-3">
  <label for="response" class="form-label"></label>
  <textarea class="form-control" id="response" rows="3"></textarea>
</div> --}}

<div class="card-format m-3 text-center" id="response-card">
        <form class="response-form m-3" id="response-form">
            <div class="form-group">
                <label class="form-label font-weight-bold fs-4" for="question">{{question.question}}</label>
                <input class="form-control form-input" id="response" name="response-body"/>
            </div>
            {{!-- <div class="row justify-content-center"> --}}
            <div class="m-3">
                <button class="btn btn-danger fs-5" type="submit">Log your response!</button>
            </div>    
        </form>
 </div>

<script src="/js/response.js"></script>


