:root {
    --background: #B8BEDD;
    --secondary: #EFC3E6;
    --text1: #1B1F37;
    --text2: #242423;
    --light: #F0E6EF;
    --dark: #000000;
    --alert: #8C1C13;

    --bs-primary: #EFC3E6;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
  }


#logout {
  position: relative;
  left: 46%;
  top: 50%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #B8BEDD;
  border: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0.2em;
}

#logout:hover {background-color: #8d94b9}

#logout:active {
  background-color: #8d94b9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.logout-btn{
 display: flex;
}

.card-body {
  background-color: #EFC3E6 !important;
}


.btn_emoji{
  height: 4rem;
  width: 4rem;
  font-size: XX-LARGE;
  
}

.response-btn{
  background-color: white;
  color: black;
}

.wrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
}


.card-title{
  text-align: center;
  padding: 0.2em;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding:2em
}

.find-your-vibe-q{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dashboard-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* .dashboard-images{
  width: 150rem;
  height: 100rem;
} */

.title{
  width: 100%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.welcome{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon{
  height: 19%;
  width: 19%;
}

#intro{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}

#findvibe {
  object-position: bottom 10px right 20px
}

.card-format {
  background-color: #EFC3E6 !important;
  padding: 5rem;
  font-size: 30px;
  font-family: 'Handlee';
  margin-bottom: 10px;
  

}

h1{
  font-family: 'Handlee';
}


.card-header {
  font-family: 'Handlee';
  font-size: 25px;
}

.title{
  font-size: xx-large;
  position: relative; 
}

.heart-guy-credits{
  width: 25%;
}

@media (max-width: 767px) {
  .title {
    max-width: 60%;
    max-height: 60%;
  }
  .welcome {
    max-width: 30%;
    max-height: 30%;
  }

}

@media (min-width: 768px) {
  .title {
    max-width: 50%;
    max-height: 50%;
  }
  .welcome {
    max-width: 30%;
    max-height: 30%;
  }
  #logout {
    max-width: 30%;
    max-height: 30%;
  }
}

@media (min-width: 992px) {
  .title {
    max-width: 70%;
    max-height: 70%;
  }
  .welcome {
    max-width: 50%;
    max-height: 50%;
  }
  #logout {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (min-width: 1200px) {
  .title {
    max-width: 80%;
    max-height: 80%;
  }
  .welcome {
    max-width: 60%;
    max-height: 60%;
  }
  #logout {
    max-width: 60%;
    max-height: 60%;
  }

}