:root {
    --background: #B8BEDD;
    --secondary: #EFC3E6;
    --text1: #1B1F37;
    --text2: #242423;
    --light: #F0E6EF;
    --dark: #000000;
    --alert: #8C1C13;

    --bs-primary: #EFC3E6;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
  }

.card {
 display: flex;
}

.card-body {
  background-color: #EFC3E6 !important;
}


.btn_emoji{
  height: 4rem;
  width: 4rem;
  font-size: XX-LARGE;
  
}


#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}